<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pySimplify | Login</title>
</head>
<body>
    <center><h1>pySimplify Login</h1></center>
    <center>
        <p>
            <form action="/" method="post">
                <div>
                    <p>
                        <div>
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username">
                        </div>
                    </p>
                    <p>
                        <div>
                            <label for="password">Password</label>
                            <input type="password" name="password" id="password">
                        </div>
                    </p>
                    <p>
                        <div>
                            <button type="submit">Login</button>
                        </div>
                    </p>
                </div>
            </form>
        </p>
    </center>
</body>
</html>